  <!-- Footer --><footer>
      <div class="container">
        <h2 class="sunrise"><a href="/">Sunrise Robot</a></h2>
        <p>Founded with love and care by <a href="http://twitter.com/medwardsmusic">Michael Edwards</a> and <a href="http://twitter.com/lyonsinbeta">David Lyons</a>. Logo design by <a href="http://twitter.com/echolox">Matt Duncan</a> and <a href="http://laovaan.deviantart.com/">Lars Degenhardt</a>.</p>
        <ul class="list-inline">
          <li><a href="http://twitter.com/sunriserobot"><i class="fa fa-twitter fa-lg"></i> sunriserobot</a></li>
          <li><a href="mailto:hello@sunriserobot.net"><i class="fa fa-bullhorn fa-fw"></i> Advertise</a></li>
          <li><a href="https://www.patreon.com/sunriserobot"><i class="fa fa-thumbs-up fa-fw"></i> Become A Supporter</a></li>
        </ul>
        <p>&copy; 2015 Sunrise Robot</p>
    </footer><!-- End Footer -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59251006-1', 'auto');
  ga('send', 'pageview');

</script>
