<footer> <!-- Footer -->
      <div class="container">
        <h2 class="sunrise"><a href="/">Sunrise Robot</a></h2>
        <p>Founded with love and care by <a href="http://twitter.com/medwardsmusic">Michael Edwards</a> and <a href="http://twitter.com/lyonsinbeta">David Lyons</a>. Logo design by <a href="http://twitter.com/echolox">Matt Duncan</a> and <a href="http://laovaan.deviantart.com/">Lars Degenhardt</a>.</p>
        <ul class="list-inline">
          <li><a href="http://twitter.com/sunriserobot"><i class="fa fa-twitter fa-lg"></i> sunriserobot</a></li>
          <li><a href="mailto:hello@sunriserobot.net"><i class="fa fa-bullhorn fa-fw"></i> Advertise</a></li>
          <li><a href="#"><i class="fa fa-thumbs-up fa-fw"></i> Become A Supporter</a></li>
        </ul>
        <p>&copy; 2015 Sunrise Robot</p>
    </footer> <!-- End Footer -->
