    <article>
      <div class="container">
        <p>We're Michael Edwards and David Lyons and we created Sunrise Robot.</p>
        <p>In early 2014 we started a podcast called Flipping Tables. Every week we've released a new episode through sickness, blizzards, and whatever else life sent our way. We realized this was no longer just a hobby, but something we wanted to grow beyond one show. With Michael's killer designs and Lyons hacking away in vim we built a website and launched Sunrise Robot as an entire network of shows for technologists, gamers, artists and cultural enthusiasts.</p>
        <p>All our shows will always be free, but with your support we can cover infrastructure costs, invest in equipment to make our shows sound even better, and launch new shows.</p>
        <p>Flipping Tables was a success because of you, and with your support we can make Sunrise Robot even greater. We appreciate your donations, no matter the amount.</p>
      </div>
    </article>
